{% extends 'questionmaker/create_question_base.html' %}
{% block content %}
{% load static %}
<html>
	<head>
		<title>Create Exam</title>
		<style>
			.b1{
				width: 200px;
			}

			.register{
				width: 500px;
				height: 650px;
				margin-top: 60px;
			}

			ul{
				margin-top: -70px;
				margin-right: 60px;
			}
		</style>
	</head>

	<body topmargin="50px" topmargin="100" style="background-size: 1540px 752px ;  background-image : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url({% static 'images/makepic.jpg' %}">
		<form>
			{% csrf_token %}
			<ul>
                <li style="margin-top: 70px;"><a href="admin_home">Home</a></li>
            </ul>

			<div class="register" style="margin-left: 530px;">
			<center>
			<table style="margin-top: 10px;color: white; border-spacing: 25px 15px;">
				<br>
				<tr>
					<td>Full Name</td>
					<td><input type="text" value="{{stud.full_name}}"></td>				
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" value="{{stud.username}}"></td>
				</tr>	
				<tr>
					<td>Email</td>
					<td><input type="text" value="{{stud.email}}"></td>
				</tr>	
				<tr>
					<td>Address</td>
					<td><textarea>{{stud.addr}}</textarea></td>
				</tr>
				<tr>
					<td>Picture</td>
					<td><img src="{{stud.pic.url}}" width="200"></td>
				</tr>
				<tr>
					<td>Id Proof</td>
					<td><img src="{{stud.idprof.url}}" width="200"></td>
                </tr>
            </table>
            <button class="b1">Disqualify</button>
		</form>
		</center>
		</div>

	</body>

</html>
{% endblock %}
